{%extends 'base.html'%}
{% load bootstrap3%}
{%block content%}
{{block.super}}
<style>
    .checked{
        color: orange;
    }
    ul li{
        display: inline-block;
    }
</style>
<h1 class="text-center"></h1>
<div class="container">
    <div class="row">
        <div class="card col-md-8 col-sm-6 col-lg-8 col-xs-6 m-2 p-2 shadow-sm">
            <img src="{{project.landing_page.url}}" class="card-img-top" alt="{{project.title}}" height='350' width='100%' >
    
            <div class="card-body">
                <h5 class="card-text float-left">{{project.title}} 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <p>{{project.average}} average based on {{project.reviews}} reviews.</p>
                </h5>
                 <a class="text-secondary float-right" href="{{project.link}}">
                <button class="btn btn-success">View site</button>
                </a> 
                
            </div>
            <p class="text-secondary ml-3" >{{project.description}}</p>

        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-lg-3 card">
            <div class="card-header">
                <h3 class="text-center">Rate the site</h3>
            </div>

            <form action="{%url 'rate-project' project.id%}" class="card-body" method="POST">
                {% csrf_token%}
                {%bootstrap_form form layout='inline'%}
                <input class="btn btn-default btn-block btn-primary" type="submit" value="Submit Raview">
            </form>
        </div>
    </div>
</div>

{%endblock content%}


